/* GENERAL PRESET*/


* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  float: left;
}

body {
  background-color: white;
  margin: 0% 15%;
}


/* HEADER*/

.top {
  margin: 10px 0px;
}

.top-1 {
  height: 200px;
  background-color: #e579e6;
  margin: 20px 0px;
  padding: 10px;
}

.top-2 {
  height: 200px;
  padding: 10px;
  background-color: #e1d67a;
}


/* MAIN */

main {
  height: 450px;
  background-color: #0087ff;
  text-align: justify;
  margin-top: 20px;
}



.center-1 {
  height: 100px;
  width: 100%;
  float: left;
  padding: 10px;
  background-color: #abcfe7;
}

.center-second {
  margin: 1% 0%;
}

.center-2 {
  height: 330px;
  width: 15%;
  float: left;
  padding: 10px;
  background-color: #abcfe7;
}

.center-3 {
  height: 330px;
  width: 68%;
  float: left;
  padding: 10px;
  margin: 0% 1%;
  background-color: #abcfe7;
}


/* FOOTER */

.bottom {
  height: 150px;
  padding: 10px;
  margin: 10px 0px;
  background-color: #8801FE;
}